/*Clear default styles */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  padding: 20px;
}

.wrapper h3 {
  text-transform: capitalize;
}

.wrapper form button {
  margin: 10px 0;
  cursor: pointer;
}

.wrapper ul button {
  background: none;
  border: none;
  cursor: pointer;
}
